<main class="componentMain">
    <h1>Issue: <small>{{ issueNumber() }}</small></h1>
    <a routerLink="/issues">Regresar</a>

    @if (issueQuery.data() === null) {
    <p>Loading Issues</p>
    }@else {
    <issue-comment [issue]="issueQuery.data()!"></issue-comment>
    }

    @if (issueCommentsQuery.data() === null) {
    <p>Loading Comments</p>
    } @else {
    @for (comment of issueCommentsQuery.data(); track comment.id) {
    <issue-comment [issue]="comment" />
    } @empty {
    <p>There aren't comments</p>
    }
    }
</main>