<main class="componentMain">
    <h1>Sobre la aplicación</h1>
    <hr>
    <section id="about">
        <p class="mb-4">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam hic labore possimus. Ad quo eligendi at
            magnam repellat, ea quae provident? Corporis eaque magni quas quibusdam earum in. Blanditiis neque voluptas
            nemo quaerat quo ullam. Eos repudiandae exercitationem facilis nemo numquam sunt? Officiis repellendus
            officia id voluptatum, rem eum dolore nobis placeat nihil eligendi consequatur pariatur aspernatur veritatis
            est unde ad numquam quisquam harum, eveniet odit deleniti repellat? Laudantium voluptates aliquam hic
            molestias sapiente cupiditate dolorum nemo, magni commodi dolores, sunt amet officia veniam explicabo
            eveniet? Nemo delectus laboriosam ducimus modi autem explicabo ullam sapiente aut cumque magni iste
            perspiciatis ut quo recusandae, totam iusto, illum id officiis? Dolorum reprehenderit blanditiis sequi iusto
            ullam perspiciatis deserunt magni suscipit, ab placeat eum cupiditate, debitis voluptas, fugit enim. Et
            laboriosam ipsam nisi odio quo quis? Delectus animi earum qui eum pariatur praesentium accusamus amet? Iure
            pariatur veniam ad fugiat corrupti ratione nobis corporis repellendus rem illo veritatis, esse
            necessitatibus assumenda natus, facere iusto nostrum aspernatur blanditiis tempore dolores! Necessitatibus
            tempora corporis iste iure. Illo, dignissimos id ad aliquid totam ab assumenda commodi dolorem expedita
            provident dolore quos rerum corporis soluta animi consequuntur a aspernatur illum corrupti at nulla eos
            cumque accusamus! Quod!
        </p>
    </section>
</main>