<menu-header (onClick)="handleClick($event)"></menu-header>
<router-outlet />

<!-- <main class="container">
    <div id="about">
        <h2>About</h2>
        <hr>
        <section>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed molestias hic consequuntur corrupti ut possimus
            dolorem fugit ad, magni ducimus saepe maiores repudiandae iste recusandae architecto adipisci quo harum illo
            consectetur nostrum? Saepe impedit, atque facilis doloremque eum voluptate quam iusto, eveniet excepturi,
            pariatur laborum illum exercitationem commodi ut. Voluptates recusandae, doloribus cupiditate veritatis
            reprehenderit saepe ipsam temporibus facilis error nemo dolore harum sit quos nostrum dolorum deserunt corporis?
            Iure laborum deserunt fuga eveniet expedita illo vero aspernatur adipisci rerum doloremque, cum corporis
            distinctio hic iusto magnam dignissimos fugit harum necessitatibus vel. Consequuntur quaerat, temporibus ad
            aspernatur nihil qui commodi labore eligendi, consectetur quae nisi blanditiis harum ex accusantium. Praesentium
            tenetur illum provident, iusto accusamus quia dolorem enim earum nostrum non voluptates odit illo alias sint
            ipsam? Dicta error ipsa, rem, facilis consequatur id saepe animi neque quidem sint natus nostrum accusamus fuga
            sequi repudiandae eum tempore fugit ullam numquam eligendi exercitationem! Aperiam aspernatur nobis vero
            deleniti, dolorem, ipsam odio praesentium nam perferendis neque omnis quis rem non et quo dolor molestias
            quisquam laborum. Dicta quas reiciendis veniam deserunt dignissimos odit dolores dolorum exercitationem facere
            cum earum quo quae, reprehenderit nostrum illum accusamus incidunt esse eum recusandae corrupti. Repellat nisi
            necessitatibus sequi facere similique. Ipsa culpa natus asperiores aspernatur eaque aliquam. Quis quidem eos
            error modi inventore cum molestias itaque, magni, obcaecati totam tempora veniam qui? Suscipit eos
            necessitatibus accusamus cumque porro aliquid, a distinctio saepe, numquam magni earum id laboriosam
            perspiciatis vel! Quidem nihil laborum, quibusdam nesciunt consequuntur tempore laboriosam magnam explicabo
            corrupti sit. Ea sint earum facere velit suscipit vitae. Tempore, debitis! Quis sed magnam laborum itaque
            mollitia culpa, ea eveniet quam dolorum cum eius quas quibusdam iure officia? Suscipit illo temporibus nesciunt
            libero aut consequuntur neque qui, perspiciatis quo maiores ipsum architecto dolores earum enim, maxime et
            nulla. At aut, modi officia accusamus saepe totam tenetur explicabo. Maxime sint consequuntur nesciunt fugit,
            porro suscipit veniam deserunt enim itaque saepe vel commodi magni. Unde ratione molestias numquam nemo rerum
            illo velit repellat commodi iure cupiditate fuga veniam aliquam enim fugiat neque sunt possimus, excepturi sit,
            recusandae, dolores perferendis ab. Iure quia commodi voluptates deleniti repellendus adipisci! Repellat alias
            officia voluptate quo iste temporibus quos laborum sint aperiam, quia mollitia tempora voluptatem earum?
            Laboriosam nobis quia iure aspernatur aliquam vitae provident corrupti expedita? Cumque reprehenderit a,
            possimus, ut dignissimos libero ea illum fuga fugiat officia incidunt? Error, laboriosam corrupti et corporis
            ipsa rem dignissimos quod itaque cupiditate, quis distinctio eligendi ipsum incidunt ex ducimus labore. Libero,
            impedit aliquid minima recusandae ipsa harum voluptas explicabo praesentium animi, quam doloremque id aperiam ex
            eveniet consequatur perspiciatis. Vitae ea sed quas veritatis odit nihil enim, culpa nemo laboriosam amet ipsam
            placeat molestiae assumenda, quisquam cupiditate cumque consequuntur nulla saepe at! Iusto, quos aperiam
            perferendis porro consectetur omnis adipisci nihil natus odio, harum eum illum a repellat corrupti eveniet nisi
            veritatis rem consequuntur, at minus ipsam ratione ad. Corrupti assumenda hic cupiditate corporis similique
            inventore obcaecati, temporibus a ea suscipit, magnam, veritatis consectetur?
        </section>
    </div>
    
    <div id="menu">
        <h2>menu</h2>
        <hr>
        <section>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed molestias hic consequuntur corrupti ut possimus
            dolorem fugit ad, magni ducimus saepe maiores repudiandae iste recusandae architecto adipisci quo harum illo
            consectetur nostrum? Saepe impedit, atque facilis doloremque eum voluptate quam iusto, eveniet excepturi,
            pariatur laborum illum exercitationem commodi ut. Voluptates recusandae, doloribus cupiditate veritatis
            reprehenderit saepe ipsam temporibus facilis error nemo dolore harum sit quos nostrum dolorum deserunt corporis?
            Iure laborum deserunt fuga eveniet expedita illo vero aspernatur adipisci rerum doloremque, cum corporis
            distinctio hic iusto magnam dignissimos fugit harum necessitatibus vel. Consequuntur quaerat, temporibus ad
            aspernatur nihil qui commodi labore eligendi, consectetur quae nisi blanditiis harum ex accusantium. Praesentium
            tenetur illum provident, iusto accusamus quia dolorem enim earum nostrum non voluptates odit illo alias sint
            ipsam? Dicta error ipsa, rem, facilis consequatur id saepe animi neque quidem sint natus nostrum accusamus fuga
            sequi repudiandae eum tempore fugit ullam numquam eligendi exercitationem! Aperiam aspernatur nobis vero
            deleniti, dolorem, ipsam odio praesentium nam perferendis neque omnis quis rem non et quo dolor molestias
            quisquam laborum. Dicta quas reiciendis veniam deserunt dignissimos odit dolores dolorum exercitationem facere
            cum earum quo quae, reprehenderit nostrum illum accusamus incidunt esse eum recusandae corrupti. Repellat nisi
            necessitatibus sequi facere similique. Ipsa culpa natus asperiores aspernatur eaque aliquam. Quis quidem eos
            error modi inventore cum molestias itaque, magni, obcaecati totam tempora veniam qui? Suscipit eos
            necessitatibus accusamus cumque porro aliquid, a distinctio saepe, numquam magni earum id laboriosam
            perspiciatis vel! Quidem nihil laborum, quibusdam nesciunt consequuntur tempore laboriosam magnam explicabo
            corrupti sit. Ea sint earum facere velit suscipit vitae. Tempore, debitis! Quis sed magnam laborum itaque
            mollitia culpa, ea eveniet quam dolorum cum eius quas quibusdam iure officia? Suscipit illo temporibus nesciunt
            libero aut consequuntur neque qui, perspiciatis quo maiores ipsum architecto dolores earum enim, maxime et
            nulla. At aut, modi officia accusamus saepe totam tenetur explicabo. Maxime sint consequuntur nesciunt fugit,
            porro suscipit veniam deserunt enim itaque saepe vel commodi magni. Unde ratione molestias numquam nemo rerum
            illo velit repellat commodi iure cupiditate fuga veniam aliquam enim fugiat neque sunt possimus, excepturi sit,
            recusandae, dolores perferendis ab. Iure quia commodi voluptates deleniti repellendus adipisci! Repellat alias
            officia voluptate quo iste temporibus quos laborum sint aperiam, quia mollitia tempora voluptatem earum?
            Laboriosam nobis quia iure aspernatur aliquam vitae provident corrupti expedita? Cumque reprehenderit a,
            possimus, ut dignissimos libero ea illum fuga fugiat officia incidunt? Error, laboriosam corrupti et corporis
            ipsa rem dignissimos quod itaque cupiditate, quis distinctio eligendi ipsum incidunt ex ducimus labore. Libero,
            impedit aliquid minima recusandae ipsa harum voluptas explicabo praesentium animi, quam doloremque id aperiam ex
            eveniet consequatur perspiciatis. Vitae ea sed quas veritatis odit nihil enim, culpa nemo laboriosam amet ipsam
            placeat molestiae assumenda, quisquam cupiditate cumque consequuntur nulla saepe at! Iusto, quos aperiam
            perferendis porro consectetur omnis adipisci nihil natus odio, harum eum illum a repellat corrupti eveniet nisi
            veritatis rem consequuntur, at minus ipsam ratione ad. Corrupti assumenda hic cupiditate corporis similique
            inventore obcaecati, temporibus a ea suscipit, magnam, veritatis consectetur?
        </section>
    </div>
</main> -->