<header>
    <a href="#" class='logo'>Food<span>.</span></a>
    <ul class='navigation'>
        <li><a href="#banner" (click)="handleClick()">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/forms" routerLinkActive="active">Forms</a></li>
        <li><a routerLink="/views" routerLinkActive="active">Views</a></li>
        <li><a routerLink="/pokemons" routerLinkActive="active">Pokemos</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</header>
